# Secretos y Entorno
.env
.env.local
.env.*.local

# Dependencias y Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Configuración generada
js/config/config.js
